<template lang="pug">
.message.d-flex
  p.error 404
  p.not-found Page not found
  nuxt-link(to="/") Back to Home
</template>

<script setup lang="ts">
</script>

<style scoped lang="scss">
.message {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font: 80px "Abyssinica SIL", sans-serif;
  .error {

  }
  .not-found, a {
    font-size: 40px;
  }
}
</style>