$desktop_width: 4096px;
$laptop_width: 1366px;
$tablet_width: 1024px;
$mobile_width: 724px;
$extra_small_width: 375px;

@mixin media_desktop {
    @media only screen and (max-width: #{$desktop_width}) {
        @content;
    }
}

@mixin media_laptop {
    @media only screen and (max-width: #{$laptop_width}) {
        @content;
    }
}

@mixin media_tablet {
    @media only screen and (max-width: #{$tablet_width}) {
        @content;
    }
}

@mixin media_mobile {
    @media only screen and (max-width: #{$mobile_width}) {
        @content;
    }
}

@mixin media_small_mobile {
    @media only screen and (max-width: #{$extra_small_width}) {
        @content;
    }
}

@mixin media_ie {
    // ie9+ (for applying rules USE !important)
    @media screen and (min-width: 0\0) and (min-resolution: +72dpi) {
        @content;
    }
}

@mixin media_edge {
    @supports (-ms-accelerator: true) {
        @content;
    }
}

@mixin retina {
    @media only screen and (-o-min-device-pixel-ratio: 5/4),
    only screen and (-webkit-min-device-pixel-ratio: 1.25),
    only screen and (min-device-pixel-ratio: 1.25),
    only screen and (min-resolution: 1.25dppx) {
        @content;
    }
}

@mixin _600px {
    @media screen and (max-width: 600px), (max-aspect-ratio: 600/968) and (max-width: 600px) {
        @content;
    }
}
@mixin set-gradient($first, $last) {
    background-image: linear-gradient(135deg, $first 0%, $last 100%);
}
