<template lang="pug">
.card-container.d-flex(v-if="pizza")
  .arrow
    nuxt-link(:to="'/menu/'+pizza?.id") >
  p.name {{pizza?.attributes?.name}}
  .img(:style="{backgroundImage: 'url('+ formatImageUrl(pizza?.attributes?.image?.data) +')'}")
  p.ingredients Ingredients:
  ul
    li(v-for="ingredient in formatIngredients(pizza?.attributes?.ingredients)" ) {{ingredient}}
  p.price $ {{pizza?.attributes?.price}}
  button Buy
</template>

<script setup lang="ts">
import formatImageUrl from '@/composables/formatImageUrl'
import formatIngredients from '@/composables/formatIngredients'
const props = defineProps({
  pizza: {
    type: [Object],
  }
})
</script>

<style scoped lang="scss">
.card-container {
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  width: 22%;
  box-shadow: 0 4px 22px rgba(43, 44, 48, 0.16);
  position: relative;
  .arrow {
    position: absolute;
    top: 20px;
    right: 20px;
    font: 30px/18px "Abyssinica SIL", sans-serif;
    cursor: pointer;
    visibility: hidden;
  }
  &:hover {
    .arrow {
      visibility: visible;
    }
  }
  p {
    font: 16px/18px "Abyssinica SIL", sans-serif;
    &.name {
      font-size: 20px;
      font-weight: 700;
    }
    &.ingredients {
      font-weight: 700;
      margin-bottom: 10px;
    }
    &.price {
      position: absolute;
      bottom: 20px;
      font-size: 25px;
    }
  }
  .img {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
  }
  ul {
    margin-bottom: 30px;
  }
  button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 30px;
    font: 25px/18px "Abyssinica SIL", sans-serif;
    color: #e2e6ed;
    background: coral;
    border-radius: 10px;
  }
}
</style>