<template lang="pug">
.header-container.d-flex
  a.logo(href="/") DemoPizza
  nav.d-flex
    nuxt-link(v-for="nav in navigation" :to="nav.link") {{nav.name}}
  nav.d-flex.user-menu
    nuxt-link(v-show="!isAuth" to="/auth/login") Login
    ClientOnly
      p.logout(v-show="isAuth" @click="logoutUser") Logout
      p.user-name(v-show="isAuth") {{user.username}}
</template>

<script setup lang="ts">
import {useAuthStore} from "~/store/auth";

const navigation = [
  {
    name: 'Menu',
    link: '/menu'
  },
  {
    name: 'About',
    link: '/about'
  },
  {
    name: 'Personal Account',
    link: '/personalAccount'
  }
  ]
const authStore = useAuthStore()
const isAuth = ref(authStore.getAccessToken)
const user = ref(authStore.getUser)
const { logout } = useStrapiAuth()
const route = useRoute()
const router = useRouter()
const logoutUser = () => {
  logout()
  authStore.reset()
  isAuth.value = authStore.getAccessToken
  user.value = authStore.getUser
  if (route.fullPath.includes('auth')) {
    router.push('/')
  }
}
</script>

<style scoped lang="scss">
.header-container {
  font: 16px/18px "Abyssinica SIL", sans-serif;
  padding: 20px;
  color: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  .logo {
    font-weight: 700;
    margin-right: 20px;
    color: black;
  }
  nav {
    a, p {
      margin-right: 20px;
      &.router-link-active {
        color: black;
      }
    }
    &.user-menu {
      justify-items: right;
      .logout {
        cursor: pointer;
      }
    }
  }
}
</style>