<template lang="pug">
.reset-password-container
  TheLoader(v-if="loading")
  template(v-else)
    .left-side(:class="{'animation': isClickSignIn}")
      .logo DemoPizza
      p.title Welcome Back!
      p.description To keep connected with us please login with your personal info
      button(@click="signIn") Sign In
      p.description or you can create a new Account
      button(@click="signUp") Sign Up
    .right-side
      template(v-if="step === 1")
        p.title Trouble logging in?
        p Enter your email and we'll send you a link to get back into your account.
        form
          input(type="email" placeholder="Email" v-model="email")
          p.error(v-if="isEmailError") Email must be in format any@any.any
          p.error(v-if="isEmailRequired") Email required
          input(type="submit" value="Send Instructions" @click.prevent="sendEmail")
      template(v-else-if="step === 2" )
        p.message Instructions have been emailed to
        p.message.email {{email}}.
        p.message Check and follow the link from the email.
</template>

<script setup lang="ts">
import emailValidationRule from '@/composables/emailValidationRule'

const router = useRouter()
const loading = ref(false)
const isClickSignIn = ref(false)
const signIn = () => {
  isClickSignIn.value = true
  setTimeout(() => router.push('/auth/login'), 500)
}
const signUp = () => {
  isClickSignIn.value = true
  setTimeout(() => router.push('/auth/register'), 500)
}

const step = ref(1)
const email = ref('')
const isEmailError = ref(false)
const isEmailRequired = ref(false)
const { forgotPassword } = useStrapiAuth()

const sendEmail = async () => {
  if (emailValidationRule(email.value)) {
    loading.value = true
    try {
      await forgotPassword({ email: email.value }).then(() => {
         step.value = 2
      }).finally(() => {
        loading.value = false
      })
    } catch (e) {}
  } else if (!email.value) {
    isEmailRequired.value = true
  }
}
watch(() => email.value, (value) => {
  isEmailRequired.value = false
  isEmailError.value = !emailValidationRule(value)
})
definePageMeta({
  layout: "custom",
})
</script>

<style scoped lang="scss">
.reset-password-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  .left-side {
    width: 45%;
    background: linear-gradient(#a46dde, #f6eee1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    position: relative;
    transition: 0.5s all;
    &.animation {
      transform: translateX(122%);
      p, .logo {
        opacity: 0;
      }
      button {
        display: none;
      }
    }
    .logo {
      position: absolute;
      top: 20px;
      left: 20px;
      font-family: 'Playfair Display', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #2C2A2B;
      text-decoration: none;
      transition: 0.5s all;
      animation: 0.7s show
    }
    .title, .description {
      font: normal 700 48px/69px 'Gilroy-Medium';
      text-align: center;
      letter-spacing: 0.05em;
      color: #2C2A2B;
      transition: 0.5s all;
      animation: 0.7s show;
    }
    @keyframes show {
      0% {opacity: 0}
      50% {opacity: 0.5}
      100% {opacity: 1}
    }
    .description {
      margin-top: 20px;
      font: normal 400 30px/30px 'Gilroy-Medium';
    }
    button {
      margin-top: 30px;
      background: #FFFFFF;
      box-shadow: 0 1px 0 #E2E6ED;
      padding: 10px 40px;
      font: normal 500 20px 'Gilroy-Medium';
      color: #2C2A2B;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.5s all;
      animation: 0.7s show;
    }
  }
  .right-side {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: 0.7s show;
    .title {
      font: normal 700 48px/69px 'Gilroy-Medium';
      letter-spacing: 0.05em;
      color: #2C2A2B;
    }
    .social-icons {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      .gmail {
        width: 50px;
        height: 50px;
        margin: 5px;
        background: url("@/assets/images/google-plus.svg") 50% no-repeat;
        background-size: contain;
        cursor: pointer;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      width: 40%;
      align-items: center;
      input {
        margin-top: 20px;
        font: normal 400 20px 'Gilroy-Medium';
        color: rgba(44, 42, 43, 0.5);
        background: #f6eee1;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        width: 100%;
        &[type="submit"] {
          width: 60%;
          color: rgb(255, 255, 255);
          background: #a46dde;
          cursor: pointer;
        }
      }
      .error {
        margin-top: 10px;
        color: red;
      }
    }
    p.message {
      margin-top: 20px;
      font: normal 400 27px/20px 'Gilroy-Medium';
      &.email {
        font-weight: 600;
      }
    }
  }
}
</style>