<template lang="pug">
.login-container
  TheLoader(v-if="loading")
  template(v-else)
    .left-side
      .logo DemoPizza
      p.title Login to Your Account
      p.social Login using social networks
      .social-icons
        a(:href="getProviderAuthenticationUrl('google')")
          .gmail
      form
        input(type="email" placeholder="Email" v-model="form.identifier")
        p.error(v-if="isEmailError") Email must be in format any@any.any
        input(type="password" placeholder="Password" v-model="form.password")
        p.error(v-if="isPasswordError") Password must be at least 6 characters.
        input(type="submit" value="Sign in" @click.prevent="handleSubmit")
      p.forgot-password(@click="forgotPassword") Forgot password
    .right-side(:class="{'animation': isClickSignUp}")
      p.title New here?
      p.description Please register and discover a great amount of new opportunities!
      button(@click="signUp") Sign Up
</template>

<script setup lang="ts">
import emailValidationRule from '@/composables/emailValidationRule'
import passwordValidationRule from '@/composables/passwordValidationRule'
import {useAuthStore} from "~/store/auth";

const loading = ref(false)
const authStore = useAuthStore()
const { getProviderAuthenticationUrl } = useStrapiAuth()
const router = useRouter()
const form = ref({
  identifier: '',
  password: ''
})
const isEmailError = ref(false)
const isPasswordError = ref(false)
const { login } = useStrapiAuth()
const handleSubmit = async () => {
  loading.value = true
  if (emailValidationRule(form.value.identifier) && passwordValidationRule(form.value.password)) {
    try {
      await login({ identifier: form.value.identifier, password: form.value.password }).then((res) => {
        authStore.setAccessToken(res.jwt)
        authStore.setUser(res.user.value)
        router.push('/')
      })
    } catch (e) {} finally {
      loading.value = false
    }
  }
}
watch(() => form.value.identifier, (value) => {
  isEmailError.value = !emailValidationRule(value)
})
watch(() => form.value.password, (value) => {
  isPasswordError.value = !passwordValidationRule(value)
})

const isClickSignUp = ref(false)
const signUp = () => {
  isClickSignUp.value = true
  setTimeout(() => router.push('/auth/register'), 500)
}
const forgotPassword = () => {
  isClickSignUp.value = true
  setTimeout(() => router.push('/auth/forgotPassword'), 500)
}

definePageMeta({
  layout: "custom",
});
</script>

<style scoped lang="scss">
.login-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  .left-side {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: 0.7s show;
    .logo {
      position: absolute;
      top: 20px;
      left: 20px;
      font-family: 'Playfair Display', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #2C2A2B;
      text-decoration: none;
    }
    .title {
      font: normal 700 48px/69px 'Gilroy-Medium';
      letter-spacing: 0.05em;
      color: #2C2A2B;
    }
    .social {
      margin-top: 20px;
      font: normal 400 20px 'Gilroy-Medium';
      color: rgba(44, 42, 43, 0.5);
    }
    .social-icons {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      .gmail {
        width: 50px;
        height: 50px;
        margin: 5px;
        background: url("@/assets/images/google-plus.svg") 50% no-repeat;
        background-size: contain;
        cursor: pointer;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 40%;
      align-items: center;
      input {
        margin-top: 20px;
        font: normal 400 20px 'Gilroy-Medium';
        color: rgba(44, 42, 43, 0.5);
        background: #f6eee1;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        width: 100%;
        &[type="submit"] {
          width: 60%;
          color: rgb(255, 255, 255);
          background: #a46dde;
          cursor: pointer;
        }
      }
      .error {
        margin-top: 10px;
        color: red;
      }
    }
    .forgot-password {
      cursor: pointer;
      &:hover {
        font-weight: bold;
      }
    }
  }
  .right-side {
    width: 45%;
    background: linear-gradient(#a46dde, #dcdcec);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    transition: 0.5s all;
    &.animation {
      transform: translateX(-122%);
      p {
        opacity: 0;
      }
      button {
        display: none;
      }
    }
    .title, .description {
      font: normal 700 48px/69px 'Gilroy-Medium';
      letter-spacing: 0.05em;
      color: #2C2A2B;
      transition: 0.5s all;
      animation: 0.7s show;
    }
    .description {
      margin-top: 20px;
      font: normal 400 30px/30px 'Gilroy-Medium';
    }
    button {
      margin-top: 30px;
      background: #FFFFFF;
      box-shadow: 0 1px 0 #E2E6ED;
      padding: 10px 40px;
      font: normal 500 20px 'Gilroy-Medium';
      color: #2C2A2B;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.5s all;
      animation: 0.7s show
    }
    @keyframes show {
      0% {opacity: 0}
      50% {opacity: 0.5}
      100% {opacity: 1}
    }
  }
}
</style>
