<template lang="pug">
.register-container
  TheLoader(v-if="loading")
  template(v-else)
    .left-side(:class="{'animation': isClickSignIn}")
      .logo DemoPizza
      p.title Welcome Back!
      p.description To keep connected with us please login with your personal info
      button(@click="signIn") Sign In
    .right-side
      p.title Create Account
      .social-icons
        a(:href="getProviderAuthenticationUrl('google')")
          .gmail
      p or use your email for registration
      form
        input(type="text" placeholder="Name" v-model="form.username")
        p.error(v-if="isNameTaken") {{errorMessage}}
        p.error(v-if="isNameError") Username must be longer then 3 symbols
        input(type="email" placeholder="Email" v-model="form.email")
        p.error(v-if="isEmailTaken") Email is already taken
        p.error(v-if="isEmailError") Email must be in format any@any.any
        input(type="password" placeholder="Password" v-model="form.password")
        p.error(v-if="isPasswordError") Password must be at least 6 characters.
        input(type="submit" value="Sign up" @click.prevent="signUp")
</template>

<script setup lang="ts">

import emailValidationRule from '@/composables/emailValidationRule'
import usernameValidationRule from '@/composables/usernameValidationRule'
import passwordValidationRule from '@/composables/passwordValidationRule'
import TheLoader from '@/components/TheLoader.vue'

const loading = ref(false)
const router = useRouter()
const isClickSignIn = ref(false)
const signIn = () => {
  isClickSignIn.value = true
  setTimeout(() => router.push('/auth/login'), 500)
}

const form = ref({
  username: '',
  email: '',
  password: ''
})
const errorMessage = ref('')
const isNameTaken = ref(false)
const isEmailTaken = ref(false)
const isNameError = ref(false)
const isEmailError = ref(false)
const isPasswordError = ref(false)
watch(() => form.value.username, (value) => {
  isNameError.value = !usernameValidationRule(value)
})
watch(() => form.value.email, (value) => {
  isEmailError.value = !emailValidationRule(value)
})
watch(() => form.value.password, (value) => {
  isPasswordError.value = !passwordValidationRule(value)
})
const { register, getProviderAuthenticationUrl } = useStrapiAuth()
const signUp = async () => {
  isNameTaken.value = false
  isEmailTaken.value = false
  if (usernameValidationRule(form.value.username) && emailValidationRule(form.value.email) && passwordValidationRule(form.value.password)) {
    loading.value = true
    try {
      await register({ username: '', email: '', password: '' }).then((res) => {
        console.log('res', res)
      }).catch((err) => {
        errorMessage.value = err.response.data.error.message
        const error = err.response.data.error.message
        if (error === 'Email is already taken') {
          isEmailTaken.value = true
        } else if (error === 'An error occurred during account creation') {
          isNameTaken.value = true
          isEmailTaken.value = true
        } else if (error === 'Username already taken') {
          isNameTaken.value = true
        }
      }).finally(() => {
        loading.value = false
      })
      router.push('/menu')
    } catch (e) {}
  }
}
definePageMeta({
  layout: "custom",
})
</script>

<style scoped lang="scss">
.register-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  .left-side {
    width: 45%;
    background: linear-gradient(#a46dde, #f6eee1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    position: relative;
    transition: 0.5s all;
    &.animation {
      transform: translateX(122%);
      p, .logo {
        opacity: 0;
      }
      button {
        display: none;
      }
    }
    .logo {
      position: absolute;
      top: 20px;
      left: 20px;
      font-family: 'Playfair Display', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #2C2A2B;
      text-decoration: none;
      transition: 0.5s all;
      animation: 0.7s show
    }
    .title, .description {
      font: normal 700 48px/69px 'Gilroy-Medium';
      letter-spacing: 0.05em;
      color: #2C2A2B;
      transition: 0.5s all;
      animation: 0.7s show;
    }
    @keyframes show {
      0% {opacity: 0}
      50% {opacity: 0.5}
      100% {opacity: 1}
    }
    .description {
      margin-top: 20px;
      font: normal 400 30px/30px 'Gilroy-Medium';
    }
    button {
      margin-top: 30px;
      background: #FFFFFF;
      box-shadow: 0 1px 0 #E2E6ED;
      padding: 10px 40px;
      font: normal 500 20px 'Gilroy-Medium';
      color: #2C2A2B;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.5s all;
      animation: 0.7s show
    }
  }
  .right-side {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: 0.7s show;
    .title {
      font: normal 700 48px/69px 'Gilroy-Medium';
      letter-spacing: 0.05em;
      color: #2C2A2B;
    }
    .social-icons {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      .gmail {
        width: 50px;
        height: 50px;
        margin: 5px;
        background: url("@/assets/images/google-plus.svg") 50% no-repeat;
        background-size: contain;
        cursor: pointer;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      width: 40%;
      align-items: center;
      input {
        margin-top: 20px;
        font: normal 400 20px 'Gilroy-Medium';
        color: rgba(44, 42, 43, 0.5);
        background: #f6eee1;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        width: 100%;
        &[type="submit"] {
          width: 60%;
          color: rgb(255, 255, 255);
          background: #a46dde;
          cursor: pointer;
        }
      }
      .error {
        margin-top: 10px;
        color: red;
      }
    }
  }
}
</style>
