<template lang="pug">
.forgot-password-container
  TheLoader(v-if="loading")
  template(v-else)
    .left-side(:class="{'animation': isClickSignIn}")
      .logo DemoPizza
      p.title Welcome Back!
      p.description To keep connected with us please login with your personal info
      button(@click="signIn") Sign In
      p.description or you can create a new Account
      button(@click="signUp") Sign Up
    .right-side
      template(v-if="step === 1")
        p.title Create new password
        p Your new password must different from previous used passwords.
        form
          input(type="password" placeholder="Password" v-model="passwordForm.password")
          p.error(v-if="isPasswordErrorLength") Password must be at least 6 characters.
          input(type="password" placeholder="Confirm Password" v-model="passwordForm.passwordConfirmation")
          p.error(v-if="isPasswordConfirmErrorLength") Password must be at least 6 characters.
          p.error(v-if="isPasswordConfirmError") Passwords must match.
          input(type="submit" value="Reset Password" @click.prevent="reset")
      template(v-else-if="step === 2")
        p.title Password has been changed
        .buttons
          button(@click="signIn") Sign In
          button(@click="signInAgain") Continue with new data
</template>

<script setup lang="ts">
import passwordValidationRule from '@/composables/passwordValidationRule'
import confirmPasswordValidationRule from '@/composables/confirmPasswordValidationRule'
import TheLoader from '@/components/TheLoader.vue'
import {useAuthStore} from "~/store/auth";

const router = useRouter()
const authStore = useAuthStore()
const loading = ref(false)

const isClickSignIn = ref(false)
const signIn = () => {
  isClickSignIn.value = true
  setTimeout(() => router.push('/auth/login'), 500)
}
const signInAgain = () => {
  isClickSignIn.value = true
  setTimeout(() => router.push('/'), 500)
}
const signUp = () => {
  isClickSignIn.value = true
  setTimeout(() => router.push('/auth/register'), 500)
}

const step = ref(1)
const passwordForm = ref({
  code: '',
  password: '',
  passwordConfirmation: ''
})
const isPasswordErrorLength = ref(false)
const isPasswordConfirmErrorLength = ref(false)
const isPasswordConfirmError = ref(false)
const route = useRoute()
const { resetPassword } = useStrapiAuth()

const reset = async () => {
  passwordForm.value.code = route.query.code.toString()
  if (passwordValidationRule(passwordForm.value.password) &&
      passwordValidationRule(passwordForm.value.passwordConfirmation) &&
      confirmPasswordValidationRule(passwordForm.value.password, passwordForm.value.passwordConfirmation)) {
    loading.value = true
    try {
      await resetPassword({ code: passwordForm.value.code, password: passwordForm.value.password, passwordConfirmation: passwordForm.value.passwordConfirmation }).then((res) => {
        step.value = 2
        if (res) {
          authStore.setAccessToken(res.jwt)
          authStore.setUser(res.user.value)
        }
      }).finally(() => {loading.value = false})
    } catch (e) {}
  }
}
watch(() => passwordForm.value.password, (value) => {
  isPasswordErrorLength.value = !passwordValidationRule(value)
})
watch(() => passwordForm.value.passwordConfirmation, (value) => {
  isPasswordConfirmErrorLength.value = !passwordValidationRule(value)
  isPasswordConfirmError.value = value !== passwordForm.value.password
})
definePageMeta({
  layout: "custom",
})
</script>

<style scoped lang="scss">
.forgot-password-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  .left-side {
    width: 45%;
    background: linear-gradient(#a46dde, #dcdcec);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    position: relative;
    transition: 0.5s all;
    &.animation {
      transform: translateX(122%);
      p, .logo {
        opacity: 0;
      }
      button {
        display: none;
      }
    }
    .logo {
      position: absolute;
      top: 20px;
      left: 20px;
      font-family: 'Playfair Display', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #2C2A2B;
      text-decoration: none;
      transition: 0.5s all;
      animation: 0.7s show
    }
    .title, .description {
      font: normal 700 48px/69px 'Gilroy-Medium';
      text-align: center;
      letter-spacing: 0.05em;
      color: #2C2A2B;
      transition: 0.5s all;
      animation: 0.7s show;
    }
    @keyframes show {
      0% {opacity: 0}
      50% {opacity: 0.5}
      100% {opacity: 1}
    }
    .description {
      margin-top: 20px;
      font: normal 400 30px/30px 'Gilroy-Medium';
    }
    button {
      margin-top: 30px;
      background: #FFFFFF;
      box-shadow: 0 1px 0 #E2E6ED;
      padding: 10px 40px;
      font: normal 500 20px 'Gilroy-Medium';
      color: #2C2A2B;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.5s all;
      animation: 0.7s show;
    }
  }
  .right-side {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: 0.7s show;
    .title {
      font: normal 700 48px/69px 'Gilroy-Medium';
      letter-spacing: 0.05em;
      color: #2C2A2B;
    }
    .social-icons {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      .gmail {
        width: 50px;
        height: 50px;
        margin: 5px;
        background: url("@/assets/images/google-plus.svg") 50% no-repeat;
        background-size: contain;
        cursor: pointer;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      width: 40%;
      align-items: center;
      input {
        margin-top: 20px;
        font: normal 400 20px 'Gilroy-Medium';
        color: rgba(44, 42, 43, 0.5);
        background: #f6eee1;
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        width: 100%;
        &[type="submit"] {
          width: 60%;
          color: rgb(255, 255, 255);
          background: #a46dde;
          cursor: pointer;
        }
      }
      .error {
        margin-top: 10px;
        color: red;
      }
    }
    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 30px;
      button {
        background: #f6d8c1;
        box-shadow: 0 1px 0 #E2E6ED;
        padding: 10px 40px;
        font: normal 500 20px 'Gilroy-Medium';
        color: #2C2A2B;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        margin: 0 10px;
      }
    }
  }
}
</style>

