<template lang="pug">
.message.d-flex
  p You register by {{route.params.provider}}
</template>

<script setup lang="ts">
import {useAuthStore} from "~/store/auth";

const { authenticateProvider } = useStrapiAuth()
const route = useRoute()
const authStore = useAuthStore()
const token = route.query.access_token.toString()
await authenticateProvider('google', token).then((res) => {
  authStore.setAccessToken(res.jwt)
  authStore.setUser(res.user.value)
})
</script>

<style scoped>
.message {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font: 18px/18px "Abyssinica SIL", sans-serif;
}
</style>