<template lang="pug">
.pizza-container.d-flex
  PizzaCard(:pizza="pizza")
</template>

<script setup lang="ts">
import {useMenuStore} from "~/store/menu";

const route = useRoute()
const { find } = useStrapi4()
const menuStore = useMenuStore()

if(!menuStore.getMenuSize) {
  const { data } = await useAsyncData<{ data: IPizza[] }>(
      'pizzas',
      () => find('pizzas?populate=*')
  )
  menuStore.setMenu(data.value.data)
}
const pizza = menuStore.getMenuById(Number(route.params.id))
</script>

<style scoped lang="scss">
.pizza-container {
  padding: 30px;
  flex-wrap: wrap;
  justify-content: center;
  :deep(.card-container) {
    width: 50%;
    &:hover {
      .arrow {visibility: hidden}
    }
  }
}
</style>