<template lang="pug">
.menu-container.d-flex
  PizzaCard(v-for="pizza in menu" :key="pizza.id" :pizza="pizza")
</template>

<script setup lang="ts">
import {useMenuStore} from "~/store/menu";

const { find } = useStrapi4()
const { data } = await useAsyncData<{ data: IPizza[] }>(
    'pizzas',
    () => find('pizzas?populate=*')
)
const menuStore = useMenuStore()
menuStore.setMenu(data.value.data)
const menu = menuStore.menu
</script>

<style scoped lang="scss">
.menu-container {
  padding: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

</style>