<template lang="pug">
.message.d-flex
  p This is home page
</template>

<script setup lang="ts">

</script>

<style scoped>
.message {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font: 18px/18px "Abyssinica SIL", sans-serif;
}
</style>