<template lang="pug">
.message.d-flex
  p This is a private page. For only login user
</template>

<script setup lang="ts">

definePageMeta({
  middleware: ["auth"]
})
</script>

<style scoped lang="scss">
.message {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font: 18px/18px "Abyssinica SIL", sans-serif;
}
</style>